---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Impressum – KISS.Shop"
  description="Impressum und Anbieterkennzeichnung für KISS.Shop"
  noindex={true}
>
  <section class="section">
    <div class="container content">
      <h1>Impressum</h1>

      <p>
        David Gstrein<br />
        Peter Mitterhofer Straße 4<br />
        39020 Partschins<br />
        Italien
      </p>

      <h2>Kontakt</h2>
      <p>
        E-Mail: <a href="mailto:david@websystems.io">david@websystems.io</a>
      </p>
    </div>
  </section>
</Layout>
